#experience {}

.experience_filter_form {}

.ui-select {
  display: inline-block;
  width: 49%;
}

.experience_filter_form {
  text-align: center;
  margin-bottom: 1.25em;
}

.cards_list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border: 1px solid #dcdcdc;
    margin-bottom: 1.25em;

    .header {
      padding: 0.625em;

      figure {
        img {
          display: inline-block;
          vertical-align: top;
        }

        figcaption {
          display: inline-block;
          margin-left: 0.3125em;

          p {
            font-size: 0.6875em;
            color: #999;
            margin-top: 0.3125em;
          }
        }
      }
    }

    .experience_image {
      img {
        max-width: 100%;
        width: 100%;
      }

      figcaption {
        padding: 0.625em;
        font-size: 0.9375em;
        color: #999;
      }
    }
  }
}