<%
is_fixed        = is_fixed        || true
title           = title           || "#naotempreco"
has_back_button = has_back_button == nil ? true : has_back_button
%>
<div data-role="header"<%= " data-position=\"fixed\"" if is_fixed %>>
  <h1><%= title %></h1>
  <% if has_back_button %><a href="javascript:history.back();" data-icon="back">voltar</a><% end %>
</div>
