<div data-role="page" id="console">
  <div data-role="header" data-position="fixed">
    <h1>CONSOLE</h1>
    <a href="javascript:history.back();" data-icon="back">voltar</a>
  </div>
  <div data-role="content">
    <textarea id="console_data" rows="30"></textarea>
    <input type="text" id="command-line" data-inline="true" data-mini="true"><button data-inline="true" data-mini="true" id="run-command-line">run</button>
  </div>
</div>
