<div data-role="page" id="feed">
  <%= partial "partials/header", :locals => {:title => "Feed"} %>
  <div data-role="content">
    Pagina de feed <br><br>    
    <a href="#experience" data-transition="slide">interna</a><br>
    <a href="#new_experience" data-transition="slide">form</a><br>
  </div>
</div>
