<!-- <div class="app">
  <h1>Apache Cordova</h1>
  <div id="deviceready" class="blink">
      <p class="event listening">Connecting to Device</p>
      <p class="event received">Device is Ready</p>
      <p id="deviceProperties">Loading device properties...</p>
  </div>
</div> -->

<button onclick="login()">Login</button>
<button onclick="me()">Me</button>
<button onclick="getSession()">Get session</button>
<button onclick="getLoginStatus()">Get login</button>
<button onclick="logout()">Logout</button>
<button onclick="facebookWallPost()">facebookWallPost</button>
<button onclick="publishStoryFriend()">friendstory</button>

<div id="data">loading ...</div>
<div id="fb-root"></div>